*/obj/
*/bin/
logs/
.vs/
packages/
PythonCode/
td_state*
Config.cs
**/appsettings.json
**/appsettings.development.json
**/appsettings.staging.json
**/appsettings.production.json
**/.local-chromium
**/screenshots
LottoXService/db
LottoXService/debug.log
LottoXService/deltas.json